/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: skyblue;
}

h2 {
    text-align: center;
    border-radius: 0.1rem;
    padding: 1%;
}

h3 {
    color: skyblue;
    text-decoration: underline;
    font-size: 20px;
    padding: 2%;
}

#toop {
    margin-top: 2%;
}

.mainpage {
    height: 100vh;
}

input[type=text] {
    border-radius: 0.2rem;
    font-style: italic;
    text-align: center;
    background: transparent;
    border: none;
}

#btt {
    color: rgb(185, 168, 168);
}

#bt {
    margin-left: 1%;
    padding: 1%;
    color: rgb(109, 93, 93);
}

#bt:hover {
    color: rgb(20, 120, 160);
    background: none;
    text-decoration: underline;
}

::placeholder {
    color: rgb(191, 164, 164);
}

.date {
    font-size: 12px;
    margin-left: 5%;
}

#logo {
    text-decoration: rgb(191, 164, 164) underline;
}

.mainb {
    color: rgb(191, 164, 164);
    font-size: 150%;
}

.mainb:hover {
    color: rgb(153, 176, 185);
}

.hi {
    color: rgb(119, 102, 102);
}

#last {
    text-align: center;
}

#last {
    color: rgb(178, 167, 250);
}

#rep {
    border: 1px solid rgb(191, 164, 164);
    margin-top: 1%;
}

