/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-image: linear-gradient(to bottom right, rgb(202, 92, 14), rgb(100, 134, 147));
    background-repeat: none;
    background-size: cover;
}

h1 {
    font-size: 80px;
    color: skyblue;
    margin-left: 5%;
    margin-top: 1%;
}

h2 {
    text-align: center;
    border-radius: 0.1rem;
    padding: 1%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

h3 {
    color: rgb(240, 180, 102);
    font-style: italic;
    font-size: 20px;
}

input[type=text] {
    width: 30%;
    border-radius: 0.2rem;
    padding: 10px 1px;
    /* margin: 10px 0; */
    /* box-sizing: border-box; */
    font-style: italic;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid burlywood;
    margin-left: 35%;
    
    
  }

::placeholder {
    color: rgb(245, 226, 226);
}

#logo {
    text-decoration: rgb(191, 164, 164) underline;
    

}

.inform {
    /* margin-top: 3%; */
    padding: 3%;
    line-height: 15pt;
}

.hi {
    color: rgb(217, 228, 228);
}

#last {
    background: rgba(191, 180, 159, 0.299);
    /* width: 80%; */
    text-align: center;
    margin-left: 10%;
    border-radius: 0.2rem;
    padding: 2%;
}

#last {
    color: rgb(178, 167, 250);
}

